minimum_pre_commit_version: 2.15.0
ci:
    autofix_prs: false
repos:
-   repo: https://github.com/python/black
    rev: 23.7.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    -   id: isort
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.286
    hooks:
    -   id: ruff
        args: [
          --exit-non-zero-on-fix,
          --target-version, py39,
          --extend-select, "PYI,UP,RUF100",
          --ignore, "E501,E731,F841,PYI042",
          --per-file-ignores, "_*.pyi:PYI001",
          --fix
        ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    - id: codespell
      additional_dependencies: [ tomli ]
