name: 'Test'

on:
  [push, pull_request, workflow_dispatch]

env:
  MPLBACKEND: 'Agg'

jobs:
  released:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.8', '3.9', '3.10.6']
        # Exclude due to regular failures, retry once 3.10.8 is out
        exclude:
          - os: macos-latest
            python-version: '3.10.6'

    steps:
    - uses: actions/checkout@v3

    - name: Install project dependencies
      uses: ./.github/setup
      with:
        os: ${{ matrix.os }}
        python-version: ${{ matrix.python-version }}

    - name: Show poetry python location (Windows)
      shell: pwsh
      run: poetry run where python
      if: matrix.os == 'windows-latest'

    - name: Run mypy on 'tests' (using the local stubs) and on the local stubs
      run: poetry run poe mypy

    - name: Run pyright on 'tests' (using the local stubs) and on the local stubs
      run: poetry run poe pyright

    - name: Run pytest
      run: poetry run poe pytest

    - name: Install pandas-stubs and run tests on the installed stubs
      run: poetry run poe test_dist

  nightly:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v3

    - name: Install project dependencies
      uses: ./.github/setup
      with:
        os: ubuntu-latest
        python-version: '3.10'

    - name: Run pytest (against pandas nightly)
      run: poetry run poe pytest --nightly

  precommit:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v3

    - uses: pre-commit/action@v3.0.0
